@charset "UTF-8";
header-navi {
    display: flex;
    flex-direction: column;
    width: 1188px;
    padding: 0 15px 0 15px;

    .header-navi-title {
      display: inline-block;
      width: 136px;
      height: 50px;
      margin-top: 6px;
      .header-navi-pic{
        width: 136px;
      	height: 50px;
      }
    }

    .header-navi-form {
      display: flex;

      .header-navi-input {
        width: 360px;
        border: solid 1px rgba(54, 52, 52, 0.1);
      }

      .header-navi-btn {
        margin-left: -18px;
        width: 72px;
        font-weight: bold;
        border: solid 1px rgba(0, 0, 0, .08);
        letter-spacing: 0.5rem;
      }

      .header-navi-form-child {
        height: 30px;
        border-radius: 6px;

      }
    }

    .header-navi-formWrap {
      width: 368px;
      height: 40px;
      margin-top: 12px;
    }

    .header-navi-titleUl {
      display: flex;
      flex-direction: row;
    }
  }

  header-login {
    width: 172px;
    height: 58px;
    margin-left: -120px;
    display: flex;
    .header-login-child {
      padding-left: 10px;
      padding-right: 6px;
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100px;
      height: 58px;
      a{
        width: 90px;
        font-size: 15px;
        color: black;
      }
      img {
        height: 15px;
        width: 17px;
        margin-right: 4px;
      }
    }

    .header-login-child:hover {
      background-color: #eee;
    }

    .header-navi-register {
      margin-right: 12px;
      display: none;
    }

    .header-navi-login {
      
    }
  }