* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}


a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

container {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    height: 6;

  }

.main-content{
  display: flex;
  margin-top: 40px;
  .ranking-wrap{
    width: 450px;
    height: 630px;
    padding: 0 15px 0 15px;
    .ranking{
      border: solid 1px #EEEEEE;
      .ranking-header{
        height: 20px;
        font-size: 14px;
        border-bottom: solid 1px #ddd;
        padding: 10px 15px 10px 15px;
        margin-bottom: 10px;
      }
      .ranking-content{
      }
    }
  }
}

.ranking-detail{
  list-style: none;
  li{
    display: flex;
    border-bottom: 1px dashed #EFEFEF;
    a{
      display: block;
      height: 40px;
      width: 385px;
      padding: 10px 15px 0;
      line-height: 30px;
      span{
        font-size: 14px;
        max-width: 260px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .level{
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 15px;
        text-align: center;
        background-color: red;
      }

      .describe{
        color: #aaaaaa;
        float: right;
      }
    }
  }
}


}