* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}


a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}


container {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    height: 6;
    margin: 0 0 0 114px;
    color: #555;
    font-size: 14px;
    
    ul{
      li{
        list-style: none;
        margin-top: 20px;
        width: 650px;
        height: 200px;
        border-bottom: 1px dashed #EFEFEF;
        .book-pic-wrap {
          width: 120px;
          height: 164px;

        }
      }
    }
    .book-img-link {
      display: flex;
      .book-img {
        width: 120px;
        height: 164px;
        border-radius: 6px;
      }
    }
  }
  
   .middle-nav {
    width: 1000px;
    height: 42px;
    display: flex;
    margin: 15px 0 0 100px;
    border-bottom: 1px solid #ddd;

 }


  bottom {
    height: 40px;
    background-color: #e3e6e9;
  }

}